.input-wrapper {
    position: relative;
    font-family: crimson-text;
    min-width: 200px;
  }
  .floating-input {
    width:200px;
    padding: 12px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-family: crimson-text;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .floating-input:focus, .floating-input:hover{
    border:1px solid #7B7B7B
  }
  
  .floating-label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #4C4C4C;
    pointer-events: none;
    transition: 0.2s ease all;
    font-size:14px
  }
  
  /* Triggers when the input is focused OR when text is typed (placeholder is hidden) */
  .floating-input:focus + .floating-label,
  .floating-input:not(:placeholder-shown) + .floating-label {
    top: 10px;
    left: 6px;
    font-size: 10px;
    color: #4C4C4C;
    background-color: #fff; /* Matches form background to look clean */
    padding: 0 4px;
  }