input:focus, textarea:focus, select:focus {
    outline: none; /* Removes the default black border on click */
    box-shadow: none; /* Removes any shadow glow applied by frameworks */
}
input {
    outline: none
}

app-payroll app-table tbody td{
    background-color: #FFFFFF;
}

app-payroll app-table tbody tr td:not(:last-child){
    color: #5b5b5b;
}

app-payroll app-table tbody tr td:last-child{
    font-weight: bolder !important;
    color: #0E9DF6;
    cursor: pointer;
}