input:focus, textarea:focus {
    outline: none; /* Removes the default black border on click */
    box-shadow: none; /* Removes any shadow glow applied by frameworks */
}
input {
    outline: none
}