table{
    border-spacing: 0px;
    color: #1e1e1e;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; 
}
thead tr{
    height:60px;
    background-color: #B3B3B3;
    
}
thead th:first-child{
    border-radius: 10px 0px 0px 0px;
    padding-left: 20px
}
thead th:last-child{
    border-radius: 0px 10px 0px 0px;
    padding-right: 20px
}
tbody td:first-child{
    padding-left: 20px
}
tbody td:last-child{
    padding-right: 20px;
}
thead th{
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; 
    font-weight: 400;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    }
tbody td{
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; 
    font-weight: 400;
    padding: 5px;
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: #ADBBFF
}
tbody tr:nth-child(even){
    background-color: #CECECE
}
tbody tr:last-child td:first-child {
    border-radius: 0px 0px 0px 10px
}

tbody tr:last-child td:last-child {
    border-radius: 0px 0px 10px 0px
}
.Name{
    min-width: 200px;
}